<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title>Clinica Vida de Criança</ion-title>
    </ion-toolbar>
  </ion-header>

<div id="container">
  <div>
    <strong>Perfil</strong>
  </div>
  <div>
    <ion-button color="tertiary">Começar</ion-button>
  </div>
</div>

<ion-tabs>  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="agendamentos" (click)="move('agendamentos')">
      <ion-icon name="pin"></ion-icon>
      Agendamentos
    </ion-tab-button>
    <ion-tab-button tab="home" (click)="move('home')">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="perfil" (click)="move('pessoa')">
      <ion-icon name="person"></ion-icon>
      Pacientes
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-content>
