<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Clinica Vida de Criança</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slide>
    <div class="contaier-login">
      <ion-list>
        <ion-item>
          <ion-label size="20px" position="stacked">Nome:</ion-label>
          <ion-input [(ngModel)]="nome" placeholder="Digite seu nome:"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Idade:</ion-label>
          <ion-input [(ngModel)]="idade" placeholder="Digite sua idade:"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Genêro</ion-label>
          <ion-input [(ngModel)]="genero" placeholder="Digite seu Genêro: "></ion-input>
        </ion-item>
        <ion-button (click)="save()" color="tertiary" type="submit" fill="solid" expand="block">
          Cadastrar
        </ion-button>
      </ion-list>
    </div>
  </ion-slide>

</ion-content>