

<ion-content style="background-color: aquamarine !important; height: 100%;" src="../../../assets/img/wallpaper.jpg" [fullscreen]="true">
  <img style="width: 100%;" src="../../../assets/img/wallpaper.jpg" alt="">
  <ion-text class="ion-text-center">
    <h2 style="color: green">Hospício IFSP - Onde a sua saúde mental nunca mais será a mesma!</h2>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col><ion-button color="success" style="font-size: 20px;" (click)="move('login')" expand="block">Login</ion-button></ion-col>
      <ion-col><ion-button color="success" style="font-size: 20px;" (click)="move('register')" expand="block">Register</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
