<ion-toolbar color="warning">
  <ion-text class="ion-text-center">
    <h1 style="color: black">Clinica Vida de Criança</h1>
    <h3>Para cada dorzinha, uma solução carinhosa</h3>
  </ion-text>
</ion-toolbar>
<ion-content style="background-color: #ffc409 !important; height: 100%;" src="../../../assets/img/wallpaper-clinica.jpg" [fullscreen]="true">
  <img style="width: 100%;" src="../../../assets/img/wallpaper-clinica.jpg" alt="">
  <ion-grid>
    <ion-row color="warning">
      <ion-col><ion-button color="tertiary" style="font-size: 20px;" (click)="move('login')" expand="block">Login</ion-button></ion-col>
      <ion-col><ion-button color="tertiary" style="font-size: 20px;" (click)="move('register')" expand="block">Cadastrar</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
