<ion-header>
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title>Agendamentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-tabs>  
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="agendamentos" (click)="move('agendamentos')">
          <ion-icon name="pin"></ion-icon>
          Agendamentos
        </ion-tab-button>
        <ion-tab-button tab="home" (click)="move('home')">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="perfil" (click)="move('perfil')">
          <ion-icon name="person"></ion-icon>
          Perfil
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  
  </ion-content>

<ion-footer>
  
</ion-footer>