<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Clinica Vida de Criança</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="grid1">
    <ion-row class="row1">
        <ion-col>
        </ion-col>
    </ion-row>
    <ion-row class="row2">
        <ion-col>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slide>
    <div class="contaier-login">
      <ion-list>
        <ion-item>
          <ion-label size="20px" position="stacked">Nome:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Idade:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Genêro</ion-label>
        </ion-item>
        <ion-button color="tertiary" type="submit" fill="solid" expand="block" (click)="move('pessoa')">
          Cadastrar
        </ion-button>
        <ion-button color="danger" type="submit" fill="solid" expand="block" (click)="move('pessoa')">
          Cancelar
        </ion-button>
      </ion-list>
    </div>
  </ion-slide>

</ion-content>
